body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('https://img.freepik.com/free-photo/abstract-blue-geometric-shapes-background_24972-1841.jpg?w=740&t=st=1665163275~exp=1665163875~hmac=cdb06bade6300e248b5e8453db56f3531c833b852cd9b97d2a84d58627202b7a') no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

button{
  cursor: pointer;
}